.todo-item__form {
  display: flex;
}

.todo-item__input-container {
  flex: 1;
  position: relative;
  margin-right: 20px;
}

.todo-item__input-mask {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.todo-item__input {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  color: #111;
  margin: 2px 0;
  outline: none;
  padding: 1px 0;
  width: 100%;
}

.todo-item__input--disabled {
  border-color: transparent;
}

.todo-item__input--complete {
  text-decoration: line-through;
}

.fake-checkbox {
  -webkit-appearance: none;
  -appearance: none;
  border: none;
  color: #111;
  cursor: pointer;
  height: 31px;
  margin-right: 6px;
  outline: none;
  padding: 0;
  text-align: left;
  width: 25px;

  &:focus {
    opacity: .6;
  }
}

.todo-item__check-icon {
  font-size: 20px;
}

.extra-button {
  opacity: .5;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
    opacity: 1;
  }
}
