<form
  autocomplete="false"
  class="todo-item__form"
  [ngClass]="{'todo-item__form--updating': isUpdating}"
>
  <button
    class="fake-checkbox"
    (click)="toggleCheckbox()"
    type="button"
  >
    <fa
      *ngIf="!todo.done"
      name="square-o"
    ></fa>
    <fa
      *ngIf="todo.done"
      name="check-square-o"
    ></fa>
  </button>
  <div class="todo-item__input-container">
    <div
      *ngIf="!isEditable"
      class="todo-item__input-mask"
      (dblclick)="editDescription()"
    ></div>
    <input
      #descriptionInput
      class="todo-item__input"
      [ngClass]="{'todo-item__input--disabled': !isEditable}"
      type="text"
      name="description"
      [(ngModel)]="description"
      [disabled]="!isEditable"
      (keydown.enter)="saveDescription()"
    >
  </div>
  <button
    *ngIf="!isEditable"
    class="btn btn-sm extra-button"
    (click)="editDescription()"
    type="button"
  >
    <fa
      name="pencil"

    ></fa>
  </button>
  <button
    *ngIf="isEditable"
    class="btn btn-sm extra-button"
    (click)="saveDescription()"
    type="button"
  >
    <fa
      name="check"

    ></fa>
  </button>
  <button
    class="btn btn-sm extra-button"
    (click)="deleteTodo()"
    type="button"
  >
    <fa
      name="trash"

    ></fa>
  </button>
</form>
